.project{
  background-color: var(--project-bcg-color);
  color: var(--project-forg-color);
  padding: 10px;
  border-radius: 2px;
  transition: all .3s ease-in-out;
  box-shadow: var(--box-shadow);
  grid-area: proj;
  &:hover{
    background-color: var(--project-bcg-color-hvr);
  }
  &__wrapper{
    align-self: flex-start;
    justify-self: flex-start;
    width: 100%;
  }
  &__title{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
  }
  &__content{
    font-size: 16px;
  }
  &__author, &__time{
    font-size: 10px;
  }
}
