.footer {
    background-color: var(--footer-bcg-color);
    height: var(--footer-height);
    color: var(--footer-forg-color);
    line-height: var(--footer-height);
    text-align: center;
    border-radius: 2px;
}
