@import '../../scss/mixins';
.navbar {
    height: var(--nav-height);
    border-radius: 2px;
    background-color: var(--navbar-bcg-color);
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: minmax(50px, auto);
    grid-template-areas: "logo s menu";
    @include deskfirst(750) {
        grid-template-areas: "logo s";
    }
}

.menu {
    grid-area: menu;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include deskfirst(750) {
        display: none;
    }
    &__item {
        margin-right: 10px;
        @include deskfirst(750) {
            margin-bottom: 10px;
        }
    }
    &__link {
        color: var(--navbar-forg-color);
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
            color: var(--navbar-forg-color-hvr);
        }
    }
}

.btn__circle {
    background-color: var(--btn-circle);
    padding: 5px;
    border-radius: 50%;
    border: none;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: var(--btn-circle-hvr);
    }
}